:root {
  --primary: #34a7ff; 
  --white: #fffffe; 
  --black: #141414; 
  --grey: #9ba4ad; 
  --headline1: 700 5rem/normal Maven Pro; 
  --headline2: 700 1.75rem/normal Maven Pro; 
  --headline3: 700 1.625rem/3rem Maven Pro; 
  --headline4: 700 1.5rem/normal Maven Pro; 
  --button: 700 1.125rem/1.75rem Maven Pro; 
  --body1-regular: 400 1.125rem/1.75rem Maven Pro, sans-serif; 
  --body1-bold: 700 1.125rem/1.75rem Maven Pro, sans-serif; 
  --body2-regular: 400 1rem/normal Maven Pro, sans-serif; 
}
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font: 700 5rem/normal Maven Pro, sans-serif; 

}

h2 {
  font: 700 1.75rem/normal Maven Pro, sans-serif;
}
h3 {
  font: 700 1.625rem/3rem Maven Pro, sans-serif;
}
h4 {
  font: 700 1.5rem/normal Maven Pro, sans-serif; 
}

button {
  font: 700 1.125rem/1.75rem Maven Pro, sans-serif; 
}

.body_1_regular {
  font: var(--body1-regular);
}
.body_2_regular {
  font: var(--body2-regular);
}
.body_1_bold {
  font: var(--body1-bold);
}